* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
    flex: 1;
}

/*HEADER STYLING--------------------------------------------------------*/

header {
	width: 100%;
	background-color: #a9a9a9;
}

.header-wrapper {
    display: flex;
}

.header-left {
    flex-basis: 25%;
	display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.header-links {
    color: #000000;
    text-decoration: none;
    font-size: 1.25em;
    padding: 1em;
}

.header-links:hover {
    color: #cccccc;
}

.header-middle {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 1px solid black;
}

.header-middle h1 {
	font-size: 2em;
	padding: .5em;
}

.header-right {
    flex-basis: 25%;
	display: flex;
    align-items: center;
	justify-content: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.header-right button {
	background-color: #a9a9a9;
	padding: .5em 2em;
    font-size: 1.25em;
    border: 1px solid black;
}

button:hover {
    background-color: #cccccc;
}

/*FOOTER STYLING--------------------------------------------------------*/

footer {
    width: 100%;
	background-color: #a9a9a9;
}

.footer-wrapper {
    display: flex;
}

.footer-left {
    flex-basis: 50%;
    display: flex;
    align-items: left;
    justify-content: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.footer-left a {
    color: #000000;
    text-decoration: none;
    font-size: 1em;
    padding: 1em;
}

a:hover {
    color: #cccccc;
}

.footer-right {
    flex-basis: 50%;
    display: flex;
    align-items: right;
    justify-content: center;
    border-top: 1px solid black;
}

.footer-right p {
    color: #000000;
    font-size: 1em;
    padding: 1em;
}

/*CONTENT STYLING--------------------------------------------------------*/

.content-main-heading {
    text-align: left;
    margin: 20px;
    width: 40%;
}

.content-heading {
    text-align: left;
    margin: 20px;
    width: 40%;
}

.content-p {
    text-align: left;
    margin: 20px;
    width: 40%;
}

.content-link {
    color: #000000;
    text-decoration: underline;
}

.content-link:hover {
    color: #cccccc;
}
